/* body {
  background-color: ivory; 
  font-family: "Lato", sans-serif;

} */
.projects{
  display: flex;
  justify-content: space-evenly;
}


.project-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 5em;
    font-family: "Lato", sans-serif;

}


.skills{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.skills{
  position: relative;
}

.svg{
  height: 50%;
  width: 50%;
}
.svg-path{
  fill: black;
}