/* body {
  background-color: ivory; 
  font-family: "Lato", sans-serif;

} */
.projects{
  /* consider using flex-wrap to make your flexbox more responsive!
     Right now, your projects flow off screen when I make my screen small instead of wrapping!
  */
  display: flex;
  justify-content: space-evenly;
}


.project-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 5em;
    font-family: "Lato", sans-serif;

}

/* Consider using justify-content and align-content to control where in each cell the skills logos are placed */
.skills{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.skills{
  position: relative;
}

.svg{
  height: 50%;
  width: 50%;
}
.svg-path{
  fill: black;
}
